//reset
@import "sanitize";
* {
  background-repeat: no-repeat;
}

//import font
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300,600");

//layout
@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

//vars

////colors
$color-text: #000;
$color-accent: #d46e23;

////base
$trans: 0.25s ease-out;

//breakpoint
$tab: 1200px;
$mob: 768px;

//base

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

.ani-wrap {
  overflow: hidden;
}

a {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

//headings

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  user-select: none;
  margin: 0 0 1rem 0;
  line-height: 1;
  word-break: keep-all;
}

h1 {
  font-size: 4rem;
  @media (max-width: $mob) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 3rem;
  @media (max-width: $mob) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
  @media (max-width: $mob) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.5rem;
  @media (max-width: $mob) {
    font-size: 1.3rem;
  }
}

h5 {
  font-size: 1.25rem;
}

//map

#map {
  height: 400px;
  width: 100%;
}

//overlay
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  transition: opacity $trans, visibility 0.1s 0.5s linear;
  cursor: pointer;
  z-index: 90;
  visibility: hidden;
  &.show {
    opacity: 0.6;
    transition: opacity 0.5s ease, visibility 0.1s linear;
    visibility: visible;
  }
}

//modal

#modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  z-index: 99999;
  #msg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    cursor: pointer;
    transition: $trans;
    z-index: 1;
  }
  .covid-msg {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    max-width: 800px;
    border-radius: 25px;
    background: #fff;
    padding: 3rem;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    transform: translateY(40px);
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 2;
    #close-btn {
      position: absolute;
      right: 15px;
      top: 15px;
      opacity: 0.8;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      cursor: pointer;
    }
  }
  &.show {
    visibility: visible;
    #msg-overlay {
      opacity: 0.3;
      transition: $trans;
      transition-delay: 0.5s;
    }
    .covid-msg {
      transform: translateY(0px);
      opacity: 1;
      transition: all 0.5s 1s ease;
    }
  }
}

//mobile menu
#mobile-menu {
  position: fixed;
  top: 0.25rem;
  left: 0.25rem;
  display: none;
  transition: $trans;

  z-index: 99;
  cursor: pointer;
  svg {
    transition: $trans;
    fill: #fff;
  }
  &.open,
  &.scrolled {
    svg {
      fill: #000;
    }
  }
  @media (max-width: $mob) {
    display: block;
  }
}

//header

header {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 98;
  color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0);
  .inner {
    @include flex();
    padding: 1rem 2rem;
    justify-content: space-between;
    > div {
      display: inline-block;
    }
    .logo {
      svg {
        animation: slideUp 0.5s 1s ease-out both;
        height: 120px;
        fill: #fff;
      }
    }
    nav {
      @include flex();
      align-items: center;
      ul {
        @include flex;
        li {
          a {
            padding: .5rem 1rem;
            border:1px solid rgb(255, 255, 255);
            border-radius: 1rem;
            color: inherit;
            font-size: 1.2rem;
            margin:0 0 0 .5rem;
            text-decoration: none;
          }
        }
      }
    }
  }
  &.menu-open {
    transform: translateX(0);
  }
  &.scroll-down {
    @media (min-width: 768px) {
      transform: translateY(-100%);
      transition: $trans;
    }
  }
  &.scroll-up {
    @media (min-width: 768px) {
      transform: translateY(0);
    }
  }
  @media (max-width: $mob) {
    height: 100vh;
    width: 90vw;
    background-color: #fff;
    color: #000;
    transform: translateX(-100%);
    transition: $trans;
    .inner {
      padding: 3rem 0;
      .logo {
        margin: 0 0 0 1rem;
        svg {
          fill: #000;
          path {
            fill: #000;
          }
        }
      }
      nav {
        ul {
          li {
            width: 100%;
            padding: 0;
            margin: 0.5rem 0 0.5rem 0;
            a {
              width: 100%;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  &.scrolled {
    background-color: #ffffff;
    color: #000;
    transition: $trans;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    .inner {
      .logo {
        svg {
          height: 60px;
          fill: #000;
          @media (max-width: $mob) {
            height: 120px;
          }
          path {
            fill: #000;
          }
        }
      }
      nav {
        ul {
          li {
            a {
              border:1px solid #000;
            }
          }
        }
      }
    }
  }
}

//sections

section {
  position: relative;
  @include flex();

  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 4rem;
  @media (max-width: $mob) {
    padding: 3rem 2rem;
  }
  .inner {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    .quote {
      font-style: italic;
      max-width: 400px;
      span {
        font-style: normal;
        font-weight: 600;
        display: block;
        margin: 1rem 0 0 0;
      }
    }
  }
}

//hero
#hero {
  background-image: url("assets/herobg.jpg");
  background-position: center;
  background-size: cover;
  padding: 0rem;
  .inner {
    @include flex();
    align-items: center;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    padding: 0 1rem;
    text-align: right;
    color: #fff;
    .content {
      @include flex();
      align-items: center;
      max-width: 600px;
      margin: 0 0 0 auto;
    }
    a {
      font-size: 3rem;
      color: #fff;
      margin: 0 0 0 auto;
      @media (max-width: $mob) {
        font-size: 2rem;
      }
    }
  }
}

//about

#about {
  .inner {
    position: relative;
  }
}

//prices

#prices {
  background-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 800'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23232323;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eclipbg%3C/title%3E%3Cpath class='a' d='M1594.13,525.69c6.5-21.53,18.84-39.92,36.55-54.72l.45.45c9.64,6.28,22.2,7.4,35.88,5.16,46.2-7.4,104.51-52,104.51-52l84.77-84.77c6.5-6.5,12.11-4.26,12.11-4.26l7.4-7.4a29.5,29.5,0,0,0,42.39-2l55.62-63.47L1831.17,120l-63.47,55.62a29.25,29.25,0,0,0-1.35,42.83l-7.4,7.4s2.24,5.61-4.26,12.11l-84.77,84.77s-44.63,58.31-52,104.51c-1.35,8.52-1.57,16.6.22,24a136.87,136.87,0,0,0-46,67.73c-7.85,25.57-15.92,41.26-24.67,48-7.18,5.61-15.47,5.83-28.48,5.83V596.1c13.46,0,28.93,0,42.61-10.54C1574.62,575.25,1584.71,556.86,1594.13,525.69Zm236.82-388.42L1958.1,264.42,1946.44,272,1823.1,148.71Zm-18.17,18.17,127.16,127.16-12.33,8.07L1804.26,167.32Z'/%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  color: #fff;
  .inner {
    @include flex();

    .shaver-img {
      height: 80px;
      width: 100%;
      background-image: url("assets/shaver.png");
      background-position: center;
      background-size: contain;
      margin: 0 0 40px 0;
    }
    .col {
      width: 100%;
      max-width: 50%;
      font-size: 2rem;
      padding: 1rem;
      span {
        font-weight: 600;
      }
      @media (max-width: $tab) {
        max-width: 100%;
        min-width: 100%;
      }
      @media (max-width: $mob) {
        padding: 0.5rem;
      }
    }
    .prices-img {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 307.34 161.33' id='ct_image_39_post_90' class='ct-image style-svg replaced-svg svg-replaced-2'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eprices%3C/title%3E%3Cpath class='a' d='M86,32q7.59,1.81,11.18,6.32A25.1,25.1,0,0,1,102,47.44a33.77,33.77,0,0,1,.81,11.86,47.77,47.77,0,0,1-4.28,14.53,86.36,86.36,0,0,1-8.7,14.7,88.36,88.36,0,0,1-16.28,16.7q-2,1.7-4.57,3.69t-4.88,3.77q-2.61,2-5.54,4.11-.73,4.16-1.3,7.62-.55,3-1,6t-.58,4.37a24.49,24.49,0,0,0,.09,5.36A13.51,13.51,0,0,0,56.5,143q.44,1,.74,1.87a6,6,0,0,1,.2,2.35,4,4,0,0,1-1.11,2.36,4.51,4.51,0,0,1-1.95,1.09,5.32,5.32,0,0,1-2.56.34,6.45,6.45,0,0,1-5.73-3.54,24.28,24.28,0,0,1-2.64-7.5A52.19,52.19,0,0,1,43,129.33q.06-1,.11-2.1c0-.72.05-1.47.07-2.25a14.37,14.37,0,0,0-2.25-3.21A3.58,3.58,0,0,0,38,120.55a6.15,6.15,0,0,0-4.17,1.76,6.72,6.72,0,0,1-1.44,1.12c-.53.3-.93.55-1.21.73a11.76,11.76,0,0,1-7.12,1.54,14.77,14.77,0,0,1-5.56-1.93,15.6,15.6,0,0,1-3.8-3.13,14.38,14.38,0,0,1-1.8-2.42,21.84,21.84,0,0,1-3.72-8.45A43.41,43.41,0,0,1,8.42,99a55.52,55.52,0,0,1,3.16-15.31,78.59,78.59,0,0,1,4-9.5q2.23-4.39,4.27-7.66t3.48-5.3q1.45-2,1.83-2.47a93.59,93.59,0,0,1,6.71-7.81,77.11,77.11,0,0,1,8.77-7.85,65.2,65.2,0,0,1,11-6.78A64,64,0,0,1,65,31.53a43.72,43.72,0,0,1,6.24-.82q2.79-.07,6.56.09A46.79,46.79,0,0,1,86,32ZM62.81,101.6A52.64,52.64,0,0,0,74.28,91.14,61,61,0,0,0,82,78.83a61.86,61.86,0,0,0,4.44-12.67,62.62,62.62,0,0,0,1.6-11.51,40,40,0,0,0-.56-9q-.75-3.77-2.12-5.23a9.61,9.61,0,0,0-5.79-2.2,21.78,21.78,0,0,0-8.21,1.17,46.39,46.39,0,0,0-9.72,4.55,63.89,63.89,0,0,0-10.21,7.74,68,68,0,0,0-7.1,7.58q-3.5,4.31-6.58,8.93-1.41,2.19-3.37,5.44t-3.91,7.15q-1.95,3.91-3.64,8.16a51.12,51.12,0,0,0-2.57,8.45q-.55,3-.75,5.33a24.22,24.22,0,0,0,0,4.31A10.54,10.54,0,0,0,25,113a13.59,13.59,0,0,0,3.17,3.55q.42-.27,2.33-1.19A21.81,21.81,0,0,1,35,113.81a14.67,14.67,0,0,1,5.14-.28,7.05,7.05,0,0,1,4.41,2.31q.85-3.7,1.66-6.89t1.37-5.49q.69-3.65,1.72-7.9t1.85-8.35q.82-4.1,1.43-7.74t.82-6a4.78,4.78,0,0,1,.71-2q.72-1.35,3-1.3a9.38,9.38,0,0,1,5.13,2.21q2.6,2,3.32,6.65a7.27,7.27,0,0,1,.22,1.76c0,.66,0,1.31.1,2q-.11,3.34-.54,6.76a57.06,57.06,0,0,1-1,6.07Q63.7,98.72,62.81,101.6Z'%3E%3C/path%3E%3Cpath class='a' d='M138.57,50.7a6.71,6.71,0,0,1,4.54,4.68,14.68,14.68,0,0,1,.14,6.83,3.58,3.58,0,0,1-.29,1.4,8.38,8.38,0,0,1-.45,1.44q-.3.74-.56,1.64l-1.51,3.71q-.72,1.68-1.41,3.76t-1.48,4.11q-1.12,3.27-2.16,6.86t-1.85,7.11a64.49,64.49,0,0,0-1.2,6.77,23.3,23.3,0,0,0,0,5.8,6.48,6.48,0,0,0,2.43,4.82,1.84,1.84,0,0,1,.78.46,3.8,3.8,0,0,1,1.22,1.5,1.47,1.47,0,0,1,.13,1.12l-.47,1.37a4.65,4.65,0,0,1-1.2,1.72,3.62,3.62,0,0,1-2.67.87,15.87,15.87,0,0,1-3.19-.48,15.7,15.7,0,0,1-3.78-1.16,16.76,16.76,0,0,1-2.66-1.94,14,14,0,0,1-2.4-2.84l0-.16a18.27,18.27,0,0,1-2.24-5.37,30,30,0,0,1-.82-7.81,64,64,0,0,1,1.11-10.55A103.65,103.65,0,0,1,122,72.76q.45-1.44.94-2.73t.94-2.73a26.19,26.19,0,0,0-2.83.58,30.41,30.41,0,0,1-3,.62,27.45,27.45,0,0,1-1.46,10.15,48.13,48.13,0,0,1-3.85,8.63,10.09,10.09,0,0,1-2.8,2.89,15,15,0,0,1-3.2,1.67,7.48,7.48,0,0,1-2.92.52,3,3,0,0,1-2-.71q-1.25-1-.88-2.08a3.61,3.61,0,0,1,.91-1.56,30.18,30.18,0,0,0,7.15-10.24,38,38,0,0,0,3-11.47A14.17,14.17,0,0,1,109,63.45a10.78,10.78,0,0,1-2.08-4.75q-.83-3.76.16-5.67a7.4,7.4,0,0,1,2.1-2.71,8.72,8.72,0,0,1,2.68-1.12,6.55,6.55,0,0,1,4.8.64,4.79,4.79,0,0,1,2.16,1.91,5.61,5.61,0,0,1,.71,2.38,7.72,7.72,0,0,1-.26,2.47,15.11,15.11,0,0,1-.75,2.18,5.39,5.39,0,0,1-.42.94l-.4.68a2.12,2.12,0,0,0-.24.64,5.76,5.76,0,0,0-.11,3.34,8.06,8.06,0,0,0,2.08-.88,17,17,0,0,1,2-1.11,9.11,9.11,0,0,0,2.37-1.7A4,4,0,0,0,125,59.56a7.83,7.83,0,0,0,1.38-1.36c.46-.56.93-1.18,1.41-1.86l1.49-1.88a12,12,0,0,1,2.45-2.3,11.07,11.07,0,0,1,3.14-1.57A6,6,0,0,1,138.57,50.7Z'%3E%3C/path%3E%3Cpath class='a' d='M162.63,44A6.31,6.31,0,0,1,166.28,46a7.53,7.53,0,0,1,1.61,3.3,14.07,14.07,0,0,1,.28,3.9,27.2,27.2,0,0,1-.5,3.77,11.09,11.09,0,0,1-.51,2.45,13.16,13.16,0,0,1-.61,2.06c-.26.68-.48,1.31-.66,1.91q-1.46,3.86-3.37,9.82T159.3,85.11A51.59,51.59,0,0,0,158,96.05q0,5,2.49,7a7,7,0,0,0,.67.65,12.78,12.78,0,0,1,1,1.38,3.46,3.46,0,0,1-.35,3.07,2.83,2.83,0,0,1-1,1.1,4.08,4.08,0,0,1-2.72,1,13.86,13.86,0,0,1-3-.27,9.85,9.85,0,0,1-4.88-2.19A19.84,19.84,0,0,1,148,106a18.29,18.29,0,0,1-3.84-6.1,26.1,26.1,0,0,1-1.56-10,70.54,70.54,0,0,1,2-14.75,135.34,135.34,0,0,1,6.76-20.48,24.34,24.34,0,0,1,1.36-3A29,29,0,0,1,155,47.85a12.27,12.27,0,0,1,3.24-3.09A5.58,5.58,0,0,1,162.63,44Zm7.47-26.29A6.66,6.66,0,0,1,174.55,23a13.51,13.51,0,0,1-1.33,8.46,28,28,0,0,1-4.76,7.38q-2.53,2.65-5.31.24a10.86,10.86,0,0,1-2.21-2.73,10.91,10.91,0,0,1-1.34-3.2,12.58,12.58,0,0,1-.31-4.3,14,14,0,0,1,1.14-4.77A12.31,12.31,0,0,1,163,20.27,10.18,10.18,0,0,1,166.43,18,5.52,5.52,0,0,1,170.09,17.74Z'%3E%3C/path%3E%3Cpath class='a' d='M209.26,33.89a10.22,10.22,0,0,1,3.49,2.56A16.75,16.75,0,0,1,215,40.24a10.78,10.78,0,0,1,.6,5.72,9.64,9.64,0,0,1-1,3.49,12.58,12.58,0,0,1-2,2.94,9.32,9.32,0,0,1-2.61,2,4.71,4.71,0,0,1-2.94.44,3.1,3.1,0,0,1-2.9-2.21,8,8,0,0,1-.38-2.71,14.56,14.56,0,0,0-.79-7.4,17.78,17.78,0,0,0-5.23,4,36,36,0,0,0-5.37,7.87q-1.78,3.29-3.33,6.83-1.32,3.16-2.67,7.16a54.9,54.9,0,0,0-2.07,8.16L183.9,79q-.07,1-.2,2.37a23.77,23.77,0,0,0-.12,2.68,26.86,26.86,0,0,0,.55,6.47,10.55,10.55,0,0,0,2.51,5.13,5.81,5.81,0,0,0,3,1.2,8.74,8.74,0,0,0,3.3,0,9.4,9.4,0,0,0,4.2-2.27,31.55,31.55,0,0,0,4.16-4q2-2.26,3.42-4.29a48.44,48.44,0,0,0,3.2-4.81,7.33,7.33,0,0,0,.65-.67,3.46,3.46,0,0,1,1.69-1.11,3,3,0,0,1,1.65,0,3.89,3.89,0,0,1,2.45,1.75,2.34,2.34,0,0,1,.83,1.27,5.59,5.59,0,0,1,.14,1.78,15.24,15.24,0,0,1-.47,2.61A20.81,20.81,0,0,1,212,91.41a39.85,39.85,0,0,1-4.27,4.19,34.09,34.09,0,0,1-6.41,4.25,27.15,27.15,0,0,1-5.83,2.36,36.69,36.69,0,0,1-5,1,19.78,19.78,0,0,1-4.77.1,17.6,17.6,0,0,1-7.67-1.79,18.24,18.24,0,0,1-5-3.64,13.87,13.87,0,0,1-3.14-4.71,31.43,31.43,0,0,1-1.74-5.66,30.67,30.67,0,0,1-.65-5.62,41.68,41.68,0,0,1,.12-4.58,32.49,32.49,0,0,1,1-6q.78-3,1.22-4.46a61.79,61.79,0,0,1,6.67-15.49A41.57,41.57,0,0,1,189.15,38a28.8,28.8,0,0,1,9.67-4.12,20.55,20.55,0,0,1,3.64-.63c1.08-.06,2.21-.09,3.38-.06A9.16,9.16,0,0,1,209.26,33.89Z'%3E%3C/path%3E%3Cpath class='a' d='M258.31,21a9.14,9.14,0,0,1,3.05,2.17,13.45,13.45,0,0,1,2.22,3.39A16.33,16.33,0,0,1,265,31.95a24.88,24.88,0,0,1-1.8,11.39A37.08,37.08,0,0,1,257.47,53a42.23,42.23,0,0,1-7.61,7.22,31.16,31.16,0,0,1-7.26,4.15,22.9,22.9,0,0,1-5.67,1.41,10,10,0,0,1-3.79-.24q-.21,1.71-.38,3.58-.06,1.67-.13,3.59a18.4,18.4,0,0,0,.34,4.13,12.5,12.5,0,0,0,.69,2c.24.49.53,1.07.88,1.75a6,6,0,0,0,1.38,1.79q3,3.18,6.67,1.47a22.1,22.1,0,0,0,6.9-5.21,59.23,59.23,0,0,0,7.44-10.07,7.36,7.36,0,0,0,.65-.67,3.46,3.46,0,0,1,1.69-1.11,3,3,0,0,1,1.65,0,6.47,6.47,0,0,1,1.31.57,6.39,6.39,0,0,1,1.14,1.19,7.56,7.56,0,0,1,.8,3.35,8,8,0,0,1-.3,2.31,13.8,13.8,0,0,1-1.25,2.48,16.51,16.51,0,0,1-1.53,2.06,29.42,29.42,0,0,1-3.3,3.19q-1.5,1.22-3.42,2.72a17.8,17.8,0,0,1-4,2.38,48.24,48.24,0,0,1-4.87,1.94A35.24,35.24,0,0,1,240,90.17q-1.47.06-2.69.13t-2.54.09a17.61,17.61,0,0,1-7.67-1.79,18.26,18.26,0,0,1-5-3.64,13.87,13.87,0,0,1-3.15-4.71,31.62,31.62,0,0,1-1.74-5.66,30.58,30.58,0,0,1-.65-5.62,42.12,42.12,0,0,1,.12-4.58,52.9,52.9,0,0,1,1-6.07q.7-3,1.15-4.44a64.07,64.07,0,0,1,3.08-8.42,75.46,75.46,0,0,1,3.6-7.07A41.49,41.49,0,0,1,238.2,25a28.8,28.8,0,0,1,9.67-4.12,20.6,20.6,0,0,1,3.64-.63c1.08-.06,2.21-.09,3.38-.06A9.2,9.2,0,0,1,258.31,21ZM241.37,41.48Q240,44,238.91,46.6q-1.17,2.46-2.38,5.42a49,49,0,0,0-2.09,6.51,33,33,0,0,0,9.9-6.08,29.68,29.68,0,0,0,5.56-6.84,21,21,0,0,0,2.45-6.1q.53-2.7.67-4.06a10.87,10.87,0,0,0-.24-3.41,18.6,18.6,0,0,0-.81-2.43,17.78,17.78,0,0,0-5.23,4A36,36,0,0,0,241.37,41.48Z'%3E%3C/path%3E%3Cpath class='a' d='M284.31,6a6.59,6.59,0,0,1,4.2.88,7.85,7.85,0,0,1,2.58,2.88,13.54,13.54,0,0,1,1.37,3.94q.39,2.13.58,4.07A30.45,30.45,0,0,0,295,29q.8,2.44,1.74,5.33t2,6.26q1.05,3.36,1.75,6.65.58,2.83,1.16,6a28.6,28.6,0,0,1,.5,6,25.78,25.78,0,0,1-3.88,13.52q-3.82,6.22-12.52,9-7.31,2.42-12.33-.31a11.52,11.52,0,0,1-6.12-8.15q-1.1-5.42,2.44-12.39t13.36-13q-.92-5.38-2.18-10.18l-.29-1.08q-.79,2-1.68,4a25,25,0,0,1-2,3.58,10.34,10.34,0,0,1-5.88,4.36q-3.48.92-4.89,0-1.3-1.15-.84-2.26a5.73,5.73,0,0,1,.83-1.54,30.21,30.21,0,0,0,7.15-10.24,38,38,0,0,0,3-11.47,15.58,15.58,0,0,1-.77-2.61,22,22,0,0,1-.34-2.23c-.09-.75-.16-1.45-.22-2.09a14.11,14.11,0,0,1,.06-2.58,7.77,7.77,0,0,1,1.07-3.18A8.65,8.65,0,0,1,279,7.49,11.16,11.16,0,0,1,284.31,6Zm-4.37,68.17a18.74,18.74,0,0,0,3.72-9.75,57.21,57.21,0,0,0,0-11.92q-1.65,1.27-3.19,2.66a28.65,28.65,0,0,0-2.91,3.08q-4.16,5.56-4.51,10.21t1.38,6.17a3.09,3.09,0,0,0,2.09,1,4,4,0,0,0,1.72-.37A6.78,6.78,0,0,0,279.94,74.18Z'%3E%3C/path%3E%3C/svg%3E");
      background-size: contain;
      background-position: center;
      @media (max-width: $tab) {
        height: 300px;
      }
    }
    .note {
      font-style: italic;
      font-size: 0.8rem;
      text-align: right;
    }
  }
}

//animation
@keyframes kenBurns {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(120%);
  }
  20% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-120%);
  }
  20% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
  }
}
