//reset
@import "sanitize";
* {
  background-repeat: no-repeat;
}

//import font
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Montserrat:300,600");

//layout
@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

//vars

////colors
$color-text: #000;
$color-accent: #d46e23;

////base
$trans: 0.25s ease-out;

//breakpoint
$tab: 1200px;
$mob: 768px;

//base

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

.ani-wrap {
  overflow: hidden;
}

a {
  color: #000;
}

a,
address,
span,
strong {
  font-weight: 600;
}

address,
h1,
h2,
h3,
h4,
h5 {
  user-select: none;
}

h3,
h4,
h5,
p {
  max-width: 700px;
  margin-right: auto;
}

p {
  margin-top: 0;
}

.columns {
  @include flex();
  width: 100%;
  > * {
    width: 100%;
    max-width: 50%;
    flex-grow: 1;
    @media (max-width: $tab) {
      max-width: 100%;
    }
  }
}

//headings

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin: 0 0 1rem 0;
  line-height: 1;
  word-break: keep-all;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  font-size: 6rem;
  @media (max-width: $mob) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 3rem;
  @media (max-width: $mob) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
  @media (max-width: $mob) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.5rem;
  @media (max-width: $mob) {
    font-size: 1.3rem;
  }
}

h5 {
  font-size: 1.25rem;
}

//map

#map {
  height: 400px;
  width: 100%;
}

//button

//overlay
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  transition: opacity $trans, visibility 0.1s 0.5s linear;
  cursor: pointer;
  z-index: 90;
  visibility: hidden;
  &.show {
    opacity: 0.6;
    transition: opacity 0.5s ease, visibility 0.1s linear;
    visibility: visible;
  }
}

//modal

#modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  visibility: hidden;
  z-index: 99999;
  @media (max-width: $mob) {
    padding: 1rem;
  }
  #msg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    backdrop-filter: blur(16px);
    cursor: pointer;
    transition: $trans;
    z-index: 1;
  }
  .covid-msg {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    border-radius: 25px;
    background: #fff;
    padding: 3rem;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    transform: translateY(40px);
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 2;
    @media (max-width: $mob) {
      padding: 1rem;
    }
    #close-btn {
      position: absolute;
      right: 15px;
      top: 15px;
      opacity: 0.8;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      cursor: pointer;
    }
  }
  &.show {
    visibility: visible;
    #msg-overlay {
      opacity: 1;
      transition: $trans;
      transition-delay: 0.5s;
    }
    .covid-msg {
      transform: translateY(0px);
      opacity: 1;
      transition: all 0.5s 1s ease;
    }
  }
}

//mobile menu
#mobile-menu {
  position: fixed;
  top: 0.25rem;
  left: 0.25rem;
  transition: $trans;

  z-index: 99;
  cursor: pointer;
  svg {
    width: 42px;
    height: 42px;
    transition: $trans;
  }
}

body {
  &.black {
    #mobile-menu {
      svg {
        fill: #fff;
      }
      &.open {
        svg {
          fill: #000;
        }
      }
    }
  }
  &.white {
    #mobile-menu {
      svg {
        fill: #000;
      }
      &.open {
        svg {
          fill: #000;
        }
      }
    }
  }
}

//header

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 90vw;
  max-width: 300px;
  background-color: #fff;
  color: #000;
  transform: translateX(-100%);
  transition: $trans;
  z-index: 98;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0);
  .inner {
    @include flex();
    padding: 6rem 0 2rem;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    > div {
      display: inline-block;
    }
    .book-now {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .logo {
      margin: 0 0 0 1rem;
      svg {
        height: 120px;
        fill: #000;
      }
    }
    nav {
      @include flex();
      align-items: center;
      width: 100%;
      padding: 0 1.8rem;
      * {
        user-select: none;
      }
      ul {
        @include flex;
        width: 100%;
        li {
          width: 100%;
          padding: 0;
          margin: 0.5rem 0 0.5rem 0;
          a {
            width: 100%;
            text-decoration: none;
            border: unset !important;
            &:hover {
              color: inherit !important;
              background-color: transparent !important;
            }

            background-color: transparent;
            color: inherit;
            font-size: 1.2rem;
            text-decoration: none;
            transition: $trans;
            &:hover {
              color: #000;
            }
          }
        }
      }
    }
    .address {
      @include flex();
      align-items: flex-end;
      padding: 0 1.8rem;

      flex-grow: 1;
      address {
        font-size: 0.8rem;
        font-weight: 400;
        a {
          font-weight: 400;
        }
      }
    }
  }
  &.menu-open {
    transform: translateX(0);
    svg {
      animation: slideUp 0.5s 0.25s ease-out both;
    }
  }
  &.scrolled {
    background-color: #ffffff;
    color: #000;
    transition: $trans;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    .inner {
      .logo {
        svg {
          height: 60px;
          fill: #000;
          @media (max-width: $mob) {
            height: 120px;
          }
          path {
            fill: #000;
          }
        }
      }
      nav {
        ul {
          li {
            a {
              border: 1px solid #000;
              &:hover {
                background-color: #000;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

//sections

section {
  position: relative;
  @include flex();

  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  padding: 8rem 4rem 0;
  @media (max-width: $mob) {
    padding: 3rem 0.5rem;
  }
  >.inner {
    @include flex();
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    .col {
      width: 100%;
      max-width: 50%;
      font-size: 2rem;
      padding: 1rem;
      span {
        font-weight: 600;
      }
      @media (max-width: $tab) {
        max-width: 100%;
        min-width: 100%;
      }
      @media (max-width: $mob) {
        font-size:1rem;
        padding: 0.5rem;
      }
      &.col-head {
        @include flex();
        justify-content: center;
        text-align: center;
        h1 {
          display: inline-block;
          font-size: 10rem;
          transform-origin: 230px 200px;
          transform: rotate(-90deg);
          @media (max-width: $tab) {
            transform: rotate(0deg);
            transform-origin: 0 0;
          }
          @media (max-width: $mob) {
            font-size: 4rem;
          }
        }
        &:nth-child(odd) {
          order: 1;
          h1 {
            transform-origin: 100px 100px;
            transform: rotate(90deg);
            @media (max-width: $tab) {
              transform: rotate(0deg);
              transform-origin: 0 0;
            }
            @media (max-width: $mob) {
              font-size: 4rem;
            }
          }
        }
      }
      &:not(.col-head) {
          order: 2;
      }
    }
    .note {
      max-width: 610px;
      font-style: italic;
      font-size: 0.8rem;
      text-align: right;
    }
    .container {
      width: 100%;
    }
    .section-img {
      height: 80px;
      width: 100%;
      background-position: center;
      background-size: contain;
      margin: 0 0 40px 0;
    }
    .quote {
      position: relative;
      font-size: 1.5rem;
      font-style: italic;
      max-width: 700px;
      margin: 6rem auto 0 auto;
      text-align: center;
      @media (max-width: $mob) {
        font-size: 1rem;
        margin: 3rem auto 0 auto;
        width:90%;
      }
      >.content {
        position: relative;
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 32px;
          height: 32px;
          background-position: center;
          background-size: cover;
          @media (max-width: $mob) {
            width: 16px;
            height: 16px;
          }
        }
        &:before {
          top: 0;
          left: -16px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M11 9.275c0 5.141-3.892 10.519-10 11.725l-.984-2.126c2.215-.835 4.163-3.742 4.38-5.746-2.491-.392-4.396-2.547-4.396-5.149 0-3.182 2.584-4.979 5.199-4.979 3.015 0 5.801 2.305 5.801 6.275zm13 0c0 5.141-3.892 10.519-10 11.725l-.984-2.126c2.215-.835 4.163-3.742 4.38-5.746-2.491-.392-4.396-2.547-4.396-5.149 0-3.182 2.584-4.979 5.199-4.979 3.015 0 5.801 2.305 5.801 6.275z' /%3E%3C/svg%3E");
        }
        &:after {
          bottom: 0;
          right: -16px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M13 14.725c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275z' /%3E%3C/svg%3E%0A");
        }
      }
      .author {
        font-style: normal;
        font-weight: 600;
        display: block;
        margin: 1rem 0 0 0;
      }
    }
  }
  .next {
    position: relative;
    width: 100%;
    margin: 6rem 0;
    @media (max-width:$tab) {
      margin:3rem 0;
    }
    a {
      @include flex();
      text-align: center;
      font-weight: 400;
      text-decoration: none;
      justify-content: center;
      color: inherit;
      > * {
        width: 100%;
      }
      svg {
        fill: inherit;
      }
    }
  }
  &.white {
    background-color: #fff;
    color: #000;
    .next {
      color: #000;
      svg {
        fill: #000;
      }
    }
  }
  &.black {
    background-color: #000;
    color: #fff;
    .next {
      color: #fff;
      svg {
        fill: #fff;
      }
    }
  }
}

//hero
#hero {
  position: relative;
  background-color:#000;
  padding: 0rem;

  &:after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0;
    background-image: url("assets/hero-bg.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter:blur(5px);
    z-index:0;
    @media (max-width: $tab) {
      background-attachment: initial;
    }
  }
  &.show-bg {
    &:after {
      opacity:0.6;
      transition: opacity .5s ease;
    }
  }
  .inner {
    @include flex();
    align-items: center;
    position: relative;
    min-height: 80vh;
    max-width: 100%;
    padding: 0 1rem;
    text-align: left;
    color: #fff;
    z-index:1;
    @media (max-width:$tab) {
      min-height:60vh;
    }
    .hero-logo {
      position: absolute;
      top: 1rem;
      left: 0;
      width: 100%;
      .logo-img {
        @include flex();
        justify-content: center;
        svg {
          animation: fadeUp 0.5s 1.5s ease-out both;
          height: 120px;
          fill: #fff;
        }
      }
    }
    .content {
      @include flex();
      align-items: center;
      width:100%;
      max-width: $tab;
      margin: 0 auto;
      animation: fadeUp 0.5s 1.75s ease-out both;
      @media (max-width: $mob) {
        margin: 0;
      }
      h1 {
        width:100%;
        max-width: 600px;
        font-size: 3.5rem;
        @media (max-width: $mob) {
          font-size:1.5rem;
        }
      }
      a {
        width:100%;
        font-size: 2rem;
        color: #fff;
        font-weight: 400;
        @media (max-width: $mob) {
          font-size: 1rem;
          margin: 0;
        }
      }
    }

  }
  .next {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: fadeUp 0.5s 1s ease-out both;
  }
}

//book

#book {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%230a0a0a' d='M22 3.2c0-.663-.537-1.2-1.2-1.2h-17.6c-.663 0-1.2.537-1.2 1.2v11.8h20v-11.8zm-2 9.8h-16v-9h16v9zm2 3h-20c-.197.372-2 4.582-2 4.998 0 .522.418 1.002 1.002 1.002h21.996c.584 0 1.002-.48 1.002-1.002 0-.416-1.803-4.626-2-4.998zm-12.229 5l.467-1h3.523l.467 1h-4.457z' /%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: center;
  animation: fadeIn 0.5s 2s ease-out both;
  .inner {
    align-items: center;
    .book-col {
      margin:auto;
      .book {
        @include flex();
        justify-content: center;
        align-items: center;
        a {
          color: #fff;
        }
      }
    }
    .text-col {
      @include flex();
      justify-content: center;
      align-items: center;
      max-width: 600px;
      margin: auto;
    }
  }
}

//about

#about {
  background-image: url("assets/scissors-light.svg");
  background-position: -210px bottom;
  background-size: 600px;
  .inner {
    position: relative;
    .scissors-img {
      background-image: url("assets/scissors-dark.svg");
    }
    .container {
      position: relative;
      @include flex();
      padding: 0.5rem 0.5rem 4rem;
      margin: 4rem 0;
      @media (max-width: $mob) {
        padding: 0.5rem 0.5rem;
      }
      #map {
        position: relative;
        width: 80%;
        margin: 0 auto;
        z-index: 1;
        @media (max-width: $mob) {
          width: 100%;
        }
      }
      address {
        font-family: "Mon", sans-serif;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem 4rem;
        font-style: normal;
        background-color: #000;
        color: #fff;
        z-index: 2;
        font-weight: 600;
        font-size: 1.5rem;
        @media (max-width: $mob) {
          position: relative;
          width: 100%;
          padding: 1rem;
          order: 2;
        }
        a {
          color: inherit;
        }
      }
    }
  }
}

//prices

#prices {
  background-image: url("assets/clipper2.svg");
  background-position: center;
  background-size: cover;
  .inner {
    @include flex();

    .shaver-img {
      background-image: url("assets/shaver.png");
    }
  }
}

//times

#times {
  background-image: url("assets/comb2.svg");
  background-position: center;
  background-size: cover;
  .inner {
    @include flex();

    .comb-img {
      background-image: url("assets/comb.png");
    }
  }
}

#contact {
  .inner {
    h1 {
      font-size: 6rem;
      @media (max-width: $mob) {
        text-align: center;
        font-size: 4rem;
      }
    }
    a {
      color:#fff;
    }
  }
  .next {
    .title {
      order: 2;
    }
    svg {
      transform: rotate(180deg);
    }
  }
}

//footer

footer {
  padding: 3rem;
  .inner {
    padding: 4rem;
  }
  @media (max-width:768px) {
    padding:1rem;
    .inner {
      padding:0;
    }
  }
}

//animation
@keyframes kenBurns {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(120%);
  }
  20% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-120%);
  }
  20% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
  }
}
