/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Montserrat:300,600");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritance in all browsers (opinionated).
  */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Use a 4-space tab width in all browsers (opinionated).
  * 4. Remove the grey highlight on links in iOS (opinionated).
  * 5. Prevent adjustments of font size after orientation changes in
  *    IE on Windows Phone and in iOS.
  * 6. Breaks words to prevent overflow in all browsers (opinionated).
  */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
  * ========================================================================== */
/**
  * Remove the margin in all browsers (opinionated).
  */
body {
  margin: 0;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Edge, Firefox, and Safari.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
  * ========================================================================== */
/**
  * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
  */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
  * Remove the margin on nested lists in Edge 18- and IE.
  */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
  * 1. Add the correct sizing in Firefox.
  * 2. Show the overflow in Edge 18- and IE.
  */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
  * Add the correct display in IE.
  */
main {
  display: block;
}

/**
  * Remove the list style on navigation lists in all browsers (opinionated).
  */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
  * ========================================================================== */
/**
  * Remove the gray background on active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Add the correct text decoration in Edge 18-, IE, and Safari.
  */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/* Embedded content
  * ========================================================================== */
/*
  * Change the alignment on media elements in all browsers (opinionated).
  */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
  * Add the correct display in IE 9-.
  */
audio,
video {
  display: inline-block;
}

/**
  * Add the correct display in iOS 4-7.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Remove the border on iframes in all browsers (opinionated).
  */
iframe {
  border-style: none;
}

/**
  * Remove the border on images within links in IE 10-.
  */
img {
  border-style: none;
}

/**
  * Change the fill color to match the text color in all browsers (opinionated).
  */
svg:not([fill]) {
  fill: currentColor;
}

/**
  * Hide the overflow in IE.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
  * ========================================================================== */
/**
  * Collapse border spacing in all browsers (opinionated).
  */
table {
  border-collapse: collapse;
}

/* Forms
  * ========================================================================== */
/**
  * Remove the margin on controls in Safari.
  */
button,
input,
select {
  margin: 0;
}

/**
  * 1. Show the overflow in IE.
  * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
  */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
  * Correct the inability to style buttons in iOS and Safari.
  */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
  * 1. Change the inconsistent appearance in all browsers (opinionated).
  * 2. Correct the padding in Firefox.
  */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
  * Show the overflow in Edge 18- and IE.
  */
input {
  overflow: visible;
}

/**
  * 1. Correct the text wrapping in Edge 18- and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
  * 1. Add the correct display in Edge 18- and IE.
  * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
  */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Remove the inheritance of text transform in Firefox.
  */
select {
  text-transform: none;
}

/**
  * 1. Remove the margin in Firefox and Safari.
  * 2. Remove the default vertical scrollbar in IE.
  * 3. Change the resize direction in all browsers (opinionated).
  */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
  * Remove the padding in IE 10-.
  */
[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
  * 1. Correct the odd appearance in Chrome, Edge, and Safari.
  * 2. Correct the outline style in Safari.
  */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
  * Remove the inner border and padding of focus outlines in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus outline styles unset by the previous rule in Firefox.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Remove the additional :invalid styles in Firefox.
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
  * ========================================================================== */
/*
  * Add the correct display in Edge 18- and IE.
  */
details {
  display: block;
}

/*
  * Add the correct styles in Edge 18-, IE, and Safari.
  */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
  * Add the correct display in all browsers.
  */
summary {
  display: list-item;
}

/* Scripting
  * ========================================================================== */
/**
  * Add the correct display in IE 9-.
  */
canvas {
  display: inline-block;
}

/**
  * Add the correct display in IE.
  */
template {
  display: none;
}

/* User interaction
  * ========================================================================== */
/*
  * 1. Remove the tapping delay in IE 10.
  * 2. Remove the tapping delay on clickable elements
       in all browsers (opinionated).
  */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
  * Add the correct display in IE 10-.
  */
[hidden] {
  display: none;
}

/* Accessibility
  * ========================================================================== */
/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */
[aria-busy="true"] {
  cursor: progress;
}

/*
  * Change the cursor on control elements in all browsers (opinionated).
  */
[aria-controls] {
  cursor: pointer;
}

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements in all browsers (opinionated).
  */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
  * Change the display on visually hidden accessible elements
  * in all browsers (opinionated).
  */
[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

* {
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

.ani-wrap {
  overflow: hidden;
}

a {
  color: #000;
}

a,
address,
span,
strong {
  font-weight: 600;
}

address,
h1,
h2,
h3,
h4,
h5 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h3,
h4,
h5,
p {
  max-width: 700px;
  margin-right: auto;
}

p {
  margin-top: 0;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.columns > * {
  width: 100%;
  max-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1200px) {
  .columns > * {
    max-width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin: 0 0 1rem 0;
  line-height: 1;
  word-break: keep-all;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  font-size: 6rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 3rem;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
}

@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  h4 {
    font-size: 1.3rem;
  }
}

h5 {
  font-size: 1.25rem;
}

#map {
  height: 400px;
  width: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out, visibility 0.1s 0.5s linear;
  transition: opacity 0.25s ease-out, visibility 0.1s 0.5s linear;
  cursor: pointer;
  z-index: 90;
  visibility: hidden;
}

#overlay.show {
  opacity: 0.6;
  -webkit-transition: opacity 0.5s ease, visibility 0.1s linear;
  transition: opacity 0.5s ease, visibility 0.1s linear;
  visibility: visible;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  visibility: hidden;
  z-index: 99999;
}

@media (max-width: 768px) {
  #modal {
    padding: 1rem;
  }
}

#modal #msg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  z-index: 1;
}

#modal .covid-msg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 800px;
  border-radius: 25px;
  background: #fff;
  padding: 3rem;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 2;
}

@media (max-width: 768px) {
  #modal .covid-msg {
    padding: 1rem;
  }
}

#modal .covid-msg #close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

#modal.show {
  visibility: visible;
}

#modal.show #msg-overlay {
  opacity: 0.3;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#modal.show .covid-msg {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 0.5s 1s ease;
  transition: all 0.5s 1s ease;
}

#mobile-menu {
  position: fixed;
  top: 0.25rem;
  left: 0.25rem;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  z-index: 99;
  cursor: pointer;
}

#mobile-menu svg {
  width: 42px;
  height: 42px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

body.black #mobile-menu svg {
  fill: #fff;
}

body.black #mobile-menu.open svg {
  fill: #000;
}

body.white #mobile-menu svg {
  fill: #000;
}

body.white #mobile-menu.open svg {
  fill: #000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 90vw;
  max-width: 300px;
  background-color: #fff;
  color: #000;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  z-index: 98;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0);
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6rem 0 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header .inner > div {
  display: inline-block;
}

header .inner .book-now {
  position: absolute;
  top: 10px;
  right: 10px;
}

header .inner .logo {
  margin: 0 0 0 1rem;
}

header .inner .logo svg {
  height: 120px;
  fill: #000;
}

header .inner nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 1.8rem;
}

header .inner nav * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

header .inner nav ul li {
  width: 100%;
  padding: 0;
  margin: 0.5rem 0 0.5rem 0;
}

header .inner nav ul li a {
  width: 100%;
  text-decoration: none;
  border: unset !important;
  background-color: transparent;
  color: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

header .inner nav ul li a:hover {
  color: inherit !important;
  background-color: transparent !important;
}

header .inner nav ul li a:hover {
  color: #000;
}

header .inner .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 1.8rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .inner .address address {
  font-size: 0.8rem;
  font-weight: 400;
}

header .inner .address address a {
  font-weight: 400;
}

header.menu-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header.menu-open svg {
  -webkit-animation: slideUp 0.5s 0.25s ease-out both;
          animation: slideUp 0.5s 0.25s ease-out both;
}

header.scrolled {
  background-color: #ffffff;
  color: #000;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

header.scrolled .inner .logo svg {
  height: 60px;
  fill: #000;
}

@media (max-width: 768px) {
  header.scrolled .inner .logo svg {
    height: 120px;
  }
}

header.scrolled .inner .logo svg path {
  fill: #000;
}

header.scrolled .inner nav ul li a {
  border: 1px solid #000;
}

header.scrolled .inner nav ul li a:hover {
  background-color: #000;
  color: #fff;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 100%;
  padding: 8rem 4rem 0;
}

@media (max-width: 768px) {
  section {
    padding: 3rem 2rem;
  }
}

section .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1200px;
}

section .inner .col {
  width: 100%;
  max-width: 50%;
  font-size: 2rem;
  padding: 1rem;
}

section .inner .col span {
  font-weight: 600;
}

@media (max-width: 1200px) {
  section .inner .col {
    max-width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  section .inner .col {
    padding: 0.5rem;
  }
}

section .inner .col.col-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

section .inner .col.col-head h1 {
  display: inline-block;
  font-size: 10rem;
  -webkit-transform-origin: 230px 200px;
          transform-origin: 230px 200px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 1200px) {
  section .inner .col.col-head h1 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
}

@media (max-width: 768px) {
  section .inner .col.col-head h1 {
    font-size: 4rem;
  }
}

section .inner .col.col-head:nth-child(odd) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

section .inner .col.col-head:nth-child(odd) h1 {
  -webkit-transform-origin: 100px 100px;
          transform-origin: 100px 100px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 1200px) {
  section .inner .col.col-head:nth-child(odd) h1 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
}

@media (max-width: 768px) {
  section .inner .col.col-head:nth-child(odd) h1 {
    font-size: 4rem;
  }
}

section .inner .col:not(.col-head) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

section .inner .note {
  max-width: 610px;
  font-style: italic;
  font-size: 0.8rem;
  text-align: right;
}

section .inner .container {
  width: 100%;
}

section .inner .section-img {
  height: 80px;
  width: 100%;
  background-position: center;
  background-size: contain;
  margin: 0 0 40px 0;
}

section .inner .quote {
  position: relative;
  font-size: 1.5rem;
  font-style: italic;
  max-width: 700px;
  margin: 6rem auto 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  section .inner .quote {
    font-size: 1rem;
    margin: 3rem auto 0 auto;
  }
}

section .inner .quote .content {
  position: relative;
}

section .inner .quote .content:before, section .inner .quote .content:after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  section .inner .quote .content:before, section .inner .quote .content:after {
    width: 16px;
    height: 16px;
  }
}

section .inner .quote .content:before {
  top: 0;
  left: -16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M11 9.275c0 5.141-3.892 10.519-10 11.725l-.984-2.126c2.215-.835 4.163-3.742 4.38-5.746-2.491-.392-4.396-2.547-4.396-5.149 0-3.182 2.584-4.979 5.199-4.979 3.015 0 5.801 2.305 5.801 6.275zm13 0c0 5.141-3.892 10.519-10 11.725l-.984-2.126c2.215-.835 4.163-3.742 4.38-5.746-2.491-.392-4.396-2.547-4.396-5.149 0-3.182 2.584-4.979 5.199-4.979 3.015 0 5.801 2.305 5.801 6.275z' /%3E%3C/svg%3E");
}

section .inner .quote .content:after {
  bottom: 0;
  right: -16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M13 14.725c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275z' /%3E%3C/svg%3E%0A");
}

section .inner .quote .author {
  font-style: normal;
  font-weight: 600;
  display: block;
  margin: 1rem 0 0 0;
}

section .next {
  position: relative;
  width: 100%;
  margin: 6rem 0;
}

@media (max-width: 1200px) {
  section .next {
    margin: 3rem 0;
  }
}

section .next a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: inherit;
}

section .next a > * {
  width: 100%;
}

section .next a svg {
  fill: inherit;
}

section.white {
  background-color: #fff;
  color: #000;
}

section.white .next {
  color: #000;
}

section.white .next svg {
  fill: #000;
}

section.black {
  background-color: #000;
  color: #fff;
}

section.black .next {
  color: #fff;
}

section.black .next svg {
  fill: #fff;
}

#hero {
  background-image: url("assets/herobg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0rem;
}

#hero .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  padding: 0 1rem;
  text-align: right;
  color: #fff;
}

#hero .inner .hero-logo {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
}

#hero .inner .hero-logo .logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .inner .hero-logo .logo-img svg {
  -webkit-animation: slideUp 0.5s 1.5s ease-out both;
          animation: slideUp 0.5s 1.5s ease-out both;
  height: 120px;
  fill: #fff;
}

#hero .inner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  margin: 0 2rem 0 auto;
}

@media (max-width: 768px) {
  #hero .inner .content {
    margin: 0 0 0 auto;
  }
}

#hero .inner .content h1 {
  font-size: 3.5rem;
}

#hero .inner a {
  font-size: 2rem;
  color: #fff;
  margin: 0 0 0 auto;
  font-weight: 400;
}

@media (max-width: 768px) {
  #hero .inner a {
    font-size: 2rem;
  }
}

#hero .next {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#book {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%230a0a0a' d='M22 3.2c0-.663-.537-1.2-1.2-1.2h-17.6c-.663 0-1.2.537-1.2 1.2v11.8h20v-11.8zm-2 9.8h-16v-9h16v9zm2 3h-20c-.197.372-2 4.582-2 4.998 0 .522.418 1.002 1.002 1.002h21.996c.584 0 1.002-.48 1.002-1.002 0-.416-1.803-4.626-2-4.998zm-12.229 5l.467-1h3.523l.467 1h-4.457z' /%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: center;
}

#book .inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#book .inner .book-col {
  margin: auto;
}

#book .inner .book-col .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#book .inner .book-col .book a {
  color: #fff;
}

#book .inner .text-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  margin: auto;
}

#about {
  background-image: url("assets/scissors-light.svg");
  background-position: -210px bottom;
  background-size: 600px;
}

#about .inner {
  position: relative;
}

#about .inner .scissors-img {
  background-image: url("assets/scissors-dark.svg");
}

#about .inner .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem 0.5rem 4rem;
  margin: 4rem 0;
}

@media (max-width: 768px) {
  #about .inner .container {
    padding: 0.5rem 0.5rem;
  }
}

#about .inner .container #map {
  position: relative;
  width: 80%;
  margin: 0 auto;
  z-index: 1;
}

@media (max-width: 768px) {
  #about .inner .container #map {
    width: 100%;
  }
}

#about .inner .container address {
  font-family: "Mon", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem 4rem;
  font-style: normal;
  background-color: #000;
  color: #fff;
  z-index: 2;
  font-weight: 600;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  #about .inner .container address {
    position: relative;
    width: 100%;
    padding: 1rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#about .inner .container address a {
  color: inherit;
}

#prices {
  background-image: url("assets/clipper2.svg");
  background-position: center;
  background-size: cover;
}

#prices .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#prices .inner .shaver-img {
  background-image: url("assets/shaver.png");
}

#times {
  background-image: url("assets/comb2.svg");
  background-position: center;
  background-size: cover;
}

#times .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#times .inner .comb-img {
  background-image: url("assets/comb.png");
}

#contact .inner h1 {
  font-size: 6rem;
}

@media (max-width: 768px) {
  #contact .inner h1 {
    text-align: center;
    font-size: 4rem;
  }
}

#contact .inner a {
  color: #fff;
}

#contact .next .title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#contact .next svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer {
  padding: 3rem;
}

footer .inner {
  padding: 4rem;
}

@-webkit-keyframes kenBurns {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
  }
}

@keyframes kenBurns {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(120%);
            transform: translateY(120%);
  }
  20% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(120%);
            transform: translateY(120%);
  }
  20% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
  20% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
  20% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */